{% extends 'devices/base.html' %}
{% load staticfiles %}

{% block title %}Iris | Error 404 - Not Found{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    {% else %}
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="display-4"><i class="fas fa-exclamation-circle"></i><br>Error 404</h1>
                    <h2 class="display-4">Not Found</h2>
                    <hr>
                    <p class="lead">The content you are looking for could not be found. Please check the URL.</p>
                    <p><a href="{% url 'devices:index' %}" title="Login">Go back to the home page</a></p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}