{% extends 'devices/base.html' %}
{% load staticfiles %}

{% block title %}Iris | Unauthenticated{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    {% else %}
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="display-4">Login Required</h1>
                    <hr>
                    <p class="lead">You do not have the proper authentication to view this page.</p>
                    <p>Please <a href="{% url 'login' %}" title="Login">log in</a> if this is an error.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}