{% extends 'devices/base.html' %}

{% block title %}Iris | All Devices{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col animated fadeIn">
                <h1 class="display-4">Device Manager</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="text-muted animated fadeIn">Cameras</h2>
                <div class="card-group">
                    {% for camera in all_cameras %}
                        <div class="col-12 col-md-4">
                            <div class="card animated slideInLeft">
{#                                <img class="card-img-top" src="{{ camera.last_image_url }}" alt="{{ camera.name }} + ' image">#}
                                <div class="card-body">
                                    {% if camera.is_active %}
                                        <h5 class="card-title"><i class="fas fa-camera"></i> {{ camera.name }} <span class="badge badge-success float-right">Online</span></h5>
                                    {% else %}
                                        <h5 class="card-title"><i class="fas fa-camera"></i> {{ camera.name }} <span class="badge badge-danger float-right">Offline</span></h5>
                                    {% endif %}
{#                                    <p class="card-text"><i class="fas fa-map"></i> {{ camera.location }}</p>#}
                                    <a href="{% url 'devices:manage_camera' camera.id %}" class="btn btn-sm btn-secondary btn-block"><i class="fas fa-cog"></i> Manage Device</a>
                                    <a href="{% url 'devices:view_camera' camera.id %}" class="btn btn-sm btn-info btn-block"><i class="fas fa-desktop"></i> View Camera Feed</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><strong>Last Triggered:</strong> {{ camera.last_triggered }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}