{% extends 'devices/base.html' %}

{% block title %}Iris | Monitor Devices{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col animated fadeIn">
                <h1 class="display-4 text-center">Monitoring Dashboard</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if not all_cameras.count == 0 %}
                    <h2 class="text-muted animated fadeIn">Cameras</h2>
                {% else %}
                    <h2 class="text-muted text-center animated fadeIn">You do not currently have any registered cameras.</h2>
                /{% endif %}
                <div class="card-group">
                    {% for camera in all_cameras %}
                        <div class="col-12 col-md-3">
                            <div class="card animated slideInLeft">
                                <img class="card-img-top" src="{{ camera.last_image_url }}" alt="{{ camera.name }}" onerror="this.src='http://via.placeholder.com/640x480?text={{ camera.name }}+Offline'" >
                                <div class="card-footer">
                                    <small class="text-muted"><i class="fas fa-camera"></i> {{ camera.name }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}